* {
  border: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import "./_inc/font_family";
@import "./_inc/utils";

body {
  color: #757575;
}

.card {
  padding: 1rem;
  border-radius: 0.3rem;
  &.outlined {
    border: 1px solid #bdbdbd;
  }
}
